$color-page-background:  $base3;
$color-page-subtle:      $base2;

$color-main-header:      $orange;
$color-main-subheader:   $yellow;
$color-main-text:        $base00;
$color-main-linktext:    $cyan;

$color-side-header:      $base0;
$color-side-subheader:   $base1;
$color-side-text:        $base00;
$color-side-linktext:    $base0;
