* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Inconsolata', monospace;
  line-height: 1.4;
  max-width: 996px; /* 960 + (18*2) */
  padding: 1rem;
}
a {
  color: rgb(0,118,142);
}
a:hover {
  background: black;
  color: white;
  text-decoration: none;
}
p {
  margin-bottom: 1rem;
}
.top-bar {
  margin-bottom: 3rem;
}
.links {
  list-style: none;
}
.links li {
  display: inline;
  margin-right: 0.5rem;
}
.projects {
  margin-bottom: 2rem;
}
.project {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}
.project .img-wrap {
  width: 33.33%;
}
.project .img-wrap a:hover {
  background: inherit;
}
.project img {
  width: 100%;
}
.project .info {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  width: 66.66%;
}
.project .title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.project .title a {
  color: black;
  text-decoration: none;
}
.project .title a:hover {
  background: inherit;
}
@media (max-width: 720px) {
  .project .img-wrap { margin-bottom: 1rem; width: 100%; }
  .project img { max-width: 66.66%; }
  .project .info { padding-left: 0; width: 100%; }
}
@media (max-width: 560px) {
  .project img { max-width: 90%; }
}
