* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

body {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4;
  margin: 60px 240px;
  width: 560px; }
  @media (max-width: 800px) {
    body {
      margin: 60px auto; } }
  @media (max-width: 600px) {
    body {
      margin: 60px 5%;
      width: 90%; } }

.site-header {
  margin-bottom: .8rem; }

article {
  margin-bottom: .8rem; }
  article p {
    font-family: Georgia; }

.article-header {
  left: -1rem;
  margin-bottom: 0.8rem;
  position: relative;
  width: 600px; }
  .article-header a, .article-header .title {
    display: inline-block; }
  .article-header .date {
    color: #ccc;
    float: right;
    font-family: inherit;
    position: relative;
    top: -1.2rem; }

blockquote, p, pre, table {
  margin-bottom: 0.8rem; }

pre {
  background: #f9f9f9;
  border: 1px solid #eee;
  left: -1rem;
  padding: 0.4rem 0.8rem;
  position: relative;
  width: 600px; }

a {
  color: #4183c4;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.flat-list li {
  display: inline-block; }
  .flat-list li.title {
    font-weight: bold; }
    .flat-list li.title a {
      color: black;
      text-decoration: none; }
    .flat-list li.title:after {
      content: " / ";
      font-weight: normal; }
