* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 60px 80px; }

header, main {
  width: 500px; }

blockquote, h1, h2, h3, h4, h5, h6, li, p, pre, table {
  margin-bottom: 0.5rem; }

h3 {
  font-weight: bold; }

.flat-list li {
  display: inline-block; }
  .flat-list li.title {
    font-weight: bold; }
    .flat-list li.title:after {
      content: " / ";
      font-weight: normal; }
