@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400);
.main {
  color: #839496;
  float: right; }
  .main h1, .main h2 {
    color: #cb4b16; }
  .main h3, .main h4, .main h5, .main h6 {
    color: #b58900; }
  .main a {
    color: #2aa198; }

header {
  color: #839496; }
  header h1, header h2 {
    color: #657b83; }
  header a {
    color: #657b83; }
  header ul {
    list-style: none;
    padding-left: 0; }
    header ul li {
      border-left: 4px solid #073642;
      padding-left: 8px; }
      @media only screen and (max-width: 960px) {
        header ul li {
          border: none;
          clear: none;
          display: inline;
          padding: 0 12px; } }
    @media only screen and (max-width: 960px) {
      header ul {
        border-bottom: 1px solid #073642;
        border-top: 1px solid #073642;
        padding: 8px 0;
        text-align: center; } }

body {
  background: #002b36;
  font: 15px/1.5 "Droid Serif", serif;
  margin: 0 auto;
  padding: 75px 50px;
  width: 860px; }
  @media only screen and (max-width: 960px) {
    body {
      margin: 0;
      width: auto; } }
  @media only screen and (max-width: 768px) {
    body {
      word-wrap: break-word; } }
  @media only screen and (max-width: 480px) {
    body {
      padding: 15px; } }

h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, hr {
  margin: 0 0 20px; }

h1, h2, h3, h4, h5, h6 {
  font: 16px/1.5 "Merriweather Sans", sans-serif; }

h1, h2 {
  font-size: 28px;
  line-height: 1.1; }

hr {
  border: 0;
  background-color: #073642;
  color: #073642;
  height: 2px; }

a {
  text-decoration: none; }

blockquote {
  border-left: 4px solid #073642;
  font-style: italic;
  margin: 20px 0;
  padding: 0 0 0 10px; }

code {
  background: #073642;
  border-radius: 4px;
  color: #657b83;
  font: 12px/1.5 Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  padding: 2px 4px; }

pre {
  background: #073642;
  border-radius: 4px;
  color: #657b83;
  font: 12px/1.5 Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  padding: 8px 15px;
  overflow-x: visible; }

header {
  position: fixed;
  width: 225px; }
  @media only screen and (max-width: 960px) {
    header {
      clear: both;
      float: none;
      position: static;
      width: 100%; } }

section {
  padding-bottom: 50px;
  width: 500px; }
  @media only screen and (max-width: 960px) {
    section {
      clear: both;
      float: none;
      position: static;
      width: 100%; } }
