@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(61,67,81);
  background-image: linear-gradient(rgb(66,72,86) 1px, transparent 1px),
                    linear-gradient(90deg, rgb(66,72,86) 1px, transparent 1px);
  background-position: -1px -1px, -1px -1px;
  background-size: 20px 20px, 20px 20px;
  color: #ddd;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.55;
  margin: 3rem auto;
  width: 544px;
}

@media(max-width: 640px) {
  body {
    width: 85%;
  }
}

header {
  margin-bottom: 3rem;
}

.menu {
  list-style: none;
  margin-left: 0;
}
.menu > li {
  display: inline-block;
  margin-right: 1.5rem;
}
.menu > li.selected > a,
.menu > li > a:hover {
  border-bottom: 2px solid rgb(101,115,130);
}

a {
  color: #37c3a2;
  text-decoration: none;
}
a:hover {
  color: rgb(230,250,200);
}
main a:hover {
  background: rgb(81,95,110);
}

blockquote, h1, p, pre, ul {
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.5rem;
}
