@import "reset";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 60px 80px;
}

header, main { width: 500px; }

%body-block-elem { margin-bottom: 0.5rem; }

blockquote, h1, h2, h3, h4, h5, h6, li, p, pre, table {
  @extend %body-block-elem;
}

h3 {
  font-weight: bold;
}

.flat-list li {
  display: inline-block;
  &.title {
    font-weight: bold;
    &:after {
      content: " / ";
      font-weight: normal;
    }
  }
}
