@import "codeblock";
@import "colors";
@import "profiles";
@import "typography";

body, html {
	height: 100%;
}

body {
	background: $bg-color;
	font: $body-font;
	margin: 0 auto;
	width: 60%;
}

header {
	padding-top: 50px;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-hover-color;
	}
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, hr {
	margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	font: $header-font;
}

h1, h2 {
	font-size: 28px;
	line-height: 1.1;
}

hr {
	border: 0;
	background-color: $detail-color;
	color: $detail-color;
	height: 1px;
}

blockquote {
	border-left: 4px solid $detail-color;
	font-style: italic;
	margin: 20px 0;
	padding: 0 0 0 10px;
}

code {
	@include codeblock(2px, 4px);
}

pre {
	@include codeblock(8px, 15px);
	overflow-x: visible;
}
