@import "solarized";

$bg-color:            #eee;
$detail-color:        #ddd;

$header-color:        #555;
$subheader-color:     #555;
$text-color:          #555;
$link-color:          #888;

$header-color-side:   #555;
$text-color-side:     #555;
$link-color-side:     #888;
