@import "solarized";

$bg-color:            $base03;
$detail-color:        $base02;

$header-color:        $orange;
$subheader-color:     $yellow;
$text-color:          $base0;
$link-color:          $cyan;

$header-color-side:   $base00;
$text-color-side:     $base0;
$link-color-side:     $base00;
