@import "maps";

$icons: ();

@function new-icon($name, $code-point, $font-family) {
	$icon: ($code-point, $font-family);
	$icons: map-set($icons, $name, $icon);
	@return $icon;
}

@mixin icon($icon) {
	&:after {
		content: nth($icon, 1);
		font-family: nth($icon, 2);
		padding-left: .5em;
	}
}

@mixin icon-named($name) {
	$icon: map-get($icons, $name);
	@include icon($icon);
}
