$break-small:   480px;
$break-medium:  768px;
$break-large:   960px;

// TODO make this more versatile
@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: $break-small) {
			@content;
		}
	}
	@else if $media == tablets {
		@media only screen and (max-width: $break-medium) {
			@content;
		}
	}
	@else if $media == medium-screens {
		@media only screen and (max-width: $break-large) {
			@content;
		}
	}
}
