@import "icons";

@font-face {
	font-family: Entypo;
	src: url("/fonts/entypo.eot"); // IE9 compat
	src: url("/fonts/entypo.eot?") format("eot"), // IE6-IE8 
	     url("/fonts/entypo.woff") format("woff"), // modern browsers
	     url("/fonts/entypo.ttf")  format("truetype"), // Safari, Android, iOS
	     url("/fonts/entypo.svg#svgentypo") format("svg"); // legacy iOS
}

$github  : new-icon(github,  "\E8AF", Entypo);
$twitter : new-icon(twitter, "\E8B5", Entypo);

.icon-github {
	@include icon($github);
}

.icon-twitter {
	@include icon($twitter);
}
