@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400);

$body-font:     15px/1.5 "Droid Serif", serif;
$fixed-font:    12px/1.5 Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
$header-font:   16px/1.5 "Merriweather Sans", sans-serif;
