@import "colors";
@import "typography";
@import "codeblock";
@import "responsive";

.main {
	color: $text-color;
	float: right;
	h1, h2 {
		color: $header-color;
	}
	h3, h4, h5, h6 {
		color: $subheader-color;
	}
	a {
		color: $link-color;
	}
}

header {
	color: $text-color-side;
	h1, h2 {
		color: $header-color-side;
	}
	a {
		color: $link-color-side;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			border-left: 4px solid $detail-color;
			padding-left: 8px;
			@include respond-to(medium-screens) {
				border: none;
				clear: none;
				display: inline;
				padding: 0 12px;
			}
		}
		@include respond-to(medium-screens) {
			border-bottom: 1px solid $detail-color;
			border-top: 1px solid $detail-color;
			padding: 8px 0;
			text-align: center;
		}
	}
}

body {
	background: $bg-color;
	font: $body-font;
	margin: 0 auto;
	padding: 75px 50px;
	width: 860px;
	@include respond-to(medium-screens) {
		margin: 0;
		width: auto;
	}
	@include respond-to(tablets) {
		word-wrap: break-word;
	}
	@include respond-to(handhelds) {
		padding: 15px;
	}
}


h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, hr {
	margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	font: $header-font;
}

h1, h2 {
	font-size: 28px;
	line-height: 1.1;
}

hr {
	border: 0;
	background-color: $detail-color;
	color: $detail-color;
	height: 2px;
}

a {
	text-decoration: none;
}

blockquote {
	border-left: 4px solid $detail-color;
	font-style: italic;
	margin: 20px 0;
	padding: 0 0 0 10px;
}

code {
	@include codeblock(2px, 4px);
}

pre {
	@include codeblock(8px, 15px);
	overflow-x: visible;
}

header {
	position: fixed;
	width: 225px;
	@include respond-to(medium-screens) {
		clear: both;
		float: none;
		position: static;
		width: 100%;
	}
}

section {
	padding-bottom: 50px;
	width: 500px;
	@include respond-to(medium-screens) {
		clear: both;
		float: none;
		position: static;
		width: 100%;
	}
}
