@import "base";

.content {
	color: $text-color;
	float: right;
	width: 60%;
	h1, h2 {
		color: $header-color;
	}
	h3, h4, h5, h6 {
		color: $subheader-color;
	}
	a {
		color: $link-color;
	}
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 50px;
	height: inherit;
}

#site-header {
	color: $text-color-side;
	position: fixed;
	width: 15%;
	text-align: right;
	@include profile($medium-screens) {
		clear: both;
		float: none;
		position: static;
		width: 100%;
	}
	h1, h2 {
		color: $header-color-side;
	}
	a {
		color: $link-color-side;
	}
	ul {
		float: right;
		margin: 0 auto;
		width: 100%;
		list-style: none;
		padding-left: 0;
		text-align: right;
		
	}
	li {
		border-bottom: 1px dotted #ddd;
		padding: {
			bottom: 2px;
			left: 0;
			right: 0;
			top: 2px;
		}
	}
}
