@import "base";

.content {
	margin: 0;
	color: $text-color;
	h1 {
		color: $header-color;
		&:hover {
			color: $link-hover-color;
		}
	}
	float: right;
	width: 60%;
	background-color: white;
	height: inherit;
	padding: {
		left: 5%;
		right: 5%;
		top: 50px;
	}
	overflow: scroll;
}

#site-header {
	h1, h2 {
		color: #666;
		&:hover {
			color: $link-hover-color;
		}
	}
	position: fixed;
	width: 15%;
	text-align: right;
	@include profile($medium-screens) {
		clear: both;
		float: none;
		position: static;
		width: 100%;
	}
	ul {
		float: right;
		margin: 0 auto;
		width: 100%;
		list-style: none;
		padding-left: 0;
		text-align: right;
	}
	li {
		border-bottom: 1px dotted #ddd;
		padding: {
			bottom: 2px;
			left: 0;
			right: 0;
			top: 2px;
		}
	}
}
