---
title: Max Kreminski
layout: null
---
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Max Kreminski</title>
	<style>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	body {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-size: 15px;
		line-height: 1.5;
	}
	h1, h2 {
		margin-bottom: 1rem;
	}
	h1 a {
		color: inherit;
		text-decoration: none;
	}
	p {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
	a {
		color: green;
	}
	a[href=""]{
		color:red; /* highlight broken links */
	}
	header .left, .container {
		margin: 0 auto;
		max-width: 80ch;
		padding: 2ch;
	}
	/* header stuff */
	header .left {
		position: relative;
	}
	.header-affiliation {
		margin: 0;
	}
	/* nav stuff */
	nav ul {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
	}
	nav li {
		margin-right: 1ch;
	}
	/* footer stuff */
	footer {
		background: #111;
		color: white;
		margin-top: 2rem;
	}
	footer nav ul {
		justify-content: flex-end;
	}
	footer a {
		color: inherit;
	}
	footer nav a {
		text-decoration: none;
	}
	footer nav a:hover {
		text-decoration: underline;
	}
	/* cards stuff */
	.card {
		margin-bottom: 1rem;
	}
	.card:last-child {
		margin-bottom: 0;
	}
	.title {
		font-weight: bold;
		margin-bottom: 0;
	}
	.title + p {
		margin-top: 0;
	}
	</style>
</head>
<body>
	<header>
		<div class="left">
			<h1><a href="/">Max Kreminski</a></h1>
			<p class="header-affiliation">PhD Student, Computational Media</p>
			<p class="header-affiliation">Expressive Intelligence Studio</p>
			<p class="header-affiliation">University of California, Santa Cruz</p>
			<p class="header-pronoun">Pronouns: <a href="https://pronoun.is/they">they/them</a></p>
			<nav>
				<ul>
					<li><a href="mailto:mkremins@ucsc.edu">email</a></li>
					<li><a href="/cv">cv</a></li>
					<li><a href="https://scholar.google.com/citations?user=Ja4R1yEAAAAJ">scholar</a></li>
					<li><a href="/blog">blog</a></li>
					<li><a href="https://twitter.com/maxkreminski">twitter</a></li>
					<li><a href="https://github.com/mkremins">github</i></a></li>
					<li><a href="https://mkremins.itch.io">itch.io</i></a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<section class="about">
			<div class="container">
				<h2 class="section-title">About</h2>
				<p>I’m a <a href="https://www.soe.ucsc.edu/departments/computational-media">Computational Media</a> PhD student in the <a href="https://eis.ucsc.edu">Expressive Intelligence Studio</a> at <a href="https://www.ucsc.edu/">UC Santa Cruz</a>, studying how computers can better support human creativity. My work focuses on the design and development of approachable <em>mixed-initiative creative tools</em> powered by artificial intelligence and generative methods<!--, with the goal of helping people create stuff they wouldn’t be able to create alone-->. I aspire to create technology that is both <a href="https://twitter.com/maxkreminski/status/1272245033136091136">reflective</a> and <a href="https://twitter.com/chrisamaphone/status/1291804250033606657">liberatory</a>.</p>
				<p>Broadly speaking, my research interests include artificial intelligence, human-computer interaction, interactive narrative, generative methods, computational creativity, and games. For a complete list of my publications, talks, and other academic output, see my <a href="/cv">CV</a>.</p>
			</div>
		</section>
		<section id="publications">
			<div class="container">
				<h2 class="section-title">Publications</h2>
				{% for pub in site.data.publications %}
				<div class="card pub-card">
					<div class="title">{% if pub.url and pub.url != "" %}<a href="{{pub.url}}">{{pub.title}}</a>{% else %}{{pub.title}}{% endif %}</div>
					<div class="authors">{{pub.authors | join: ", "}}</div>
					<div class="venue"><span title="{{pub.venue_long}}">{{pub.venue}}</span> {{pub.year}} {% if pub.venue_note and pub.venue_note != "" %}({{pub.venue_note}}){% endif %}</div>
				</div>
			  {% endfor %}
			</div>
		</section>
		<section id="talks">
			<div class="container">
				<h2 class="section-title">Talks</h2>
				{% for talk in site.data.talks %}
				<div class="card talk-card">
					<div class="title">{% if talk.url and talk.url != "" %}<a href="{{talk.url}}">{{talk.title}}</a>{% else %}{{talk.title}}{% endif %}</div>
					<div class="venue">{{talk.venue}} {{talk.year}} {% if talk.venue_note and talk.venue_note != "" %}({{talk.venue_note}}){% endif %}</div>
				</div>
			  {% endfor %}
			</div>
		</section>
		<section id="projects">
			<div class="container">
				<h2 class="section-title">Selected projects</h2>
				<p>Note: These are only a few of my projects! See my <a href="https://github.com/mkremins">GitHub</a> and <a href="https://mkremins.itch.io">itch.io</a> pages for more.</p>
				<div class="card project-card">
					<div class="title"><a href="https://github.com/ExpressiveIntelligence/Germinate">Germinate</a></div>
					<p class="desc">A mixed-initiative casual creator for rhetorical game design, built on the <a href="https://github.com/ExpressiveIntelligence/Gemini">Gemini</a> game generator. Generates games based on a user-provided <em>design intent</em>, then provides users with support in exploring the resulting design space and refining their intent based on the generated games. Designed and developed in collaboration with frequent co-conspirator <a href="http://www.melaniedickinson.com/">Melanie Dickinson</a>.<!-- <a href="https://github.com/ExpressiveIntelligence/Germinate">Code available here.</a>--></p>
				</div>
				<div class="card project-card">
					<div class="title"><a href="https://github.com/ItsProbablyFine/WAWLT">Why Are We Like This?</a></div>
					<p class="desc">An AI-augmented collaborative storytelling game. Two players write a story in a pastiche of the cozy mystery genre, with support from a simulation-based AI system that suggests what might happen next and operationalizes character subjectivity through <em>story sifting</em>. Designed and developed in collaboration with frequent co-conspirator <a href="http://www.melaniedickinson.com/">Melanie Dickinson</a>.<!--  <a href="https://github.com/ItsProbablyFine/WAWLT">Code available here.</a>--></p>
				</div>
				<div class="card project-card">
					<div class="title"><a href="https://github.com/mkremins/felt">Felt</a></div>
					<p class="desc">A simple <a href="https://mkremins.github.io/publications/Felt_SimpleStorySifter.pdf">story sifting</a> and simulation engine for emergent narrative play experiences. Provides narrative system developers with tools for defining <em>story sifting patterns</em> that match narratively potent sequences of events, and for building simulations in which characters make use of story sifting to reason about the world. Designed and developed in collaboration with frequent co-conspirator <a href="http://www.melaniedickinson.com/">Melanie Dickinson</a>.<!--  <a href="https://github.com/mkremins/felt">Code available here.</a>--></p>
				</div>
				<div class="card project-card">
					<div class="title"><a href="https://github.com/LudoNarrative/StoryAssembler">StoryAssembler</a></div>
					<p class="desc">An interactive narrative system that assembles choice-based stories on the fly from a library of author-provided story fragments, using planning to ensure that every story it produces meets a set of author-specified requirements. I joined this project partway through development and worked with fellow EIS PhD student <a href="https://twitter.com/logodaedalus">Jacob Garbe</a> to bring it up to readiness for public release.<!--  <a href="https://github.com/LudoNarrative/StoryAssembler">Code available here.</a>--></p>
				</div>
				<div class="card project-card">
					<div class="title"><a href="https://mkremins.github.io/blackout">Procedural blackout poetry</a></div>
					<p class="desc">An ongoing series of investigations into the creation of procedural blackout poetry. Includes a <a href="https://mkremins.github.io/blackout">browser bookmarklet</a> that can turn any arbitrary webpage into blackout poetry and a <a href="https://mkremins.github.io/blackout/interactive">mixed-initiative tool</a> that lets you work together with an AI to create blackout poetry of your own. <a href="https://github.com/mkremins/blackout">Code available here.</a></p>
				</div>
				<div class="card project-card">
					<div class="title"><a href="https://mkremins.itch.io/starfreighter">Starfreighter</a></div>
					<p class="desc">A procedural narrative game set in a completely procedurally generated galaxy. Uses <a href="https://mkremins.github.io/publications/Storylets_SketchingAMap.pdf">parametrized storylets</a> to achieve a greater level of dynamism than is possible with typical branching narrative structures. <a href="https://github.com/mkremins/starfreighter">Code available here.</a></p>
				</div>
				<div class="card project-card">
					<div class="title"><a href="https://mkremins.itch.io/epitaph">Epitaph</a></div>
					<p class="desc">A procedural narrative idlegame about existential risks and the death of civilizations, made for the <a href="https://itch.io/jam/fermi-paradox-jam">Fermi Paradox Jam</a> in September 2016. My first attempt to create a <a href="https://mkremins.github.io/publications/GardeningGames.pdf">gardening game</a>: a game that uses procedural content generation to position the player as the caretaker of a living world, which will keep growing and changing even in the player's absence. <a href="https://github.com/mkremins/epitaph">Code available here.</a></p>
				</div>
				<!--
				<div class="card project-card">
					<div class="title"><a href="https://mkremins.github.io/riffle">Riffle</a></div>
					<p class="desc">An authoring environment for simulationist interactive fiction, heavily influenced by Chris Martens’ <a href="http://www.cs.cmu.edu/~cmartens/thesis/">Ceptre</a> project. Still in the early stages of development, but the eventual goal is to create the equivalent of <a href="https://twinery.org">Twine</a> for stories based on <a href="https://mkremins.github.io/publications/Storylets_SketchingAMap.pdf">parametrized storylets</a> rather than static branching narrative structures. <a href="https://github.com/mkremins/riffle">Code available here.</a></p>
				</div>
				-->
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<nav>
				<ul>
					<li><a href="mailto:mkremins@ucsc.edu">email</a></li>
					<li><a href="/cv">cv</a></li>
					<li><a href="https://scholar.google.com/citations?user=Ja4R1yEAAAAJ">scholar</a></li>
					<li><a href="/blog">blog</a></li>
					<li><a href="https://twitter.com/maxkreminski">twitter</a></li>
					<li><a href="https://github.com/mkremins">github</i></a></li>
					<li><a href="https://mkremins.itch.io">itch.io</i></a></li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>
