<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>{{ page.title }} | Affording Play</title>
<link rel="stylesheet" href="/css/styles.min.css">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Source+Sans+Pro:200,400,600,400italic,600italic|PT+Serif:400,700,400italic,700italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<meta name="google-site-verification" content="pilQIpRY1joFtI2AJweChCeYZsq6Fib5d4GTl0TwJjM">
