{%- assign pubs = site.data.publications | where: "pubtype", include.pubtype -%}
{%- assign pubid = pubs | size -%}
{%- for pub in pubs -%}
  {%- assign authors_html = "" | split: "" -%}
  {%- for author in pub.authors -%}
    {%- if author == "Max Kreminski" -%}
      {%- assign author_html = "<span class='author self'>Max Kreminski</span>" -%}
    {%- else -%}
      {%- assign author_html = "<span class='author'>" | append: author | append: "</span>" -%}
    {%- endif -%}
    {%- assign authors_html = authors_html | push: author_html -%}
  {%- endfor -%}
  <div class="dated-entry">
    <div class="dated-date"><span id="{{include.pubprefix}}{{pubid}}" class="pubid">[{{include.pubprefix}}{{pubid}}]</span></div>
    <div class="dated-content">
      {% if pub.url and pub.url != "" %}<a href="{{pub.url}}">{{pub.title}}</a>{% else %}{{pub.title}}{% endif %}<br>
      <span class="authors">{{authors_html | join: ", "}}</span><br>
      {% if pub.pubtype == "chapter" %}In <em>{{pub.booktitle}}</em>. {{pub.publisher}}, {{pub.year}}{% elsif pub.pubtype == "journal" %}{{pub.venue}}, {{pub.year}}{% else %}{{pub.venue}} {% if pub.parent_venue %}@ {{pub.parent_venue}}{% endif %} {{pub.year}}{% endif %}{% if pub.inpress %} (in press){% endif %}.
      {% if pub.acceptrate and pub.acceptrate != "" %} <span class="pub-acceptrate">{{pub.acceptrate | replace: "%", "" | round}}% acceptance rate{% if pub.acceptnote and pub.acceptnote != "" %} ({{pub.acceptnote}}){% endif %}.</span>{% endif %}
      {% if pub.award and pub.award != "" %} <span class="pub-award">{{pub.award}}.</span>{% endif %}
    </div>
  </div>
  {%- assign pubid = pubid | minus: 1 -%}
{%- endfor -%}
