<div class="site-sidebar content">
  <h4>About</h4>
  <p><strong>Affording Play</strong> is an irregularly updated blog by <strong>Max Kreminski</strong> about humans, computers, and the perpetually fascinating ways in which they interact. <a href="/about" style="font-weight:bold;margin-left:0.25rem;">more »</a></p>
  <h4>Elsewhere</h4>
  <ul>
    <li><a href="https://twitter.com/maxkreminski">@maxkreminski</a> on Twitter</li>
    <li><a href="https://github.com/mkremins">mkremins</a> on GitHub</li>
    <li><a href="https://mkremins.itch.io">mkremins</a> on itch.io</li>
  </ul>
</div>
