---
title: Max Kreminski – CV
layout: null
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Max Kreminski – CV</title>
  <!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/font/Sans/cmun-sans.css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <style>
  /* reset base styles */
  * { box-sizing: border-box; margin: 0; padding: 0; }

  /* basic page structure */
  :root { --left-column-width: 6rem; };
  html { font-size: 16px; }
  body { font-family: "EB Garamond", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; line-height: 1.4; }
  main { margin: 2rem auto; max-width: 96ch; padding: 0 2ch; }

  /* page header */
  header { margin-bottom: 1.5rem; margin-left: var(--left-column-width);  }
  header h1 { font-size: 1.5rem; font-weight: normal; }
  header p { margin-bottom: 0; }

  /* normal body content */
  h2, h3 { font-weight: normal; }
  h2 { font-size: 1.25rem; margin-left: var(--left-column-width); margin-bottom: 0.5rem; }
  h3 { font-size: 1.1rem; font-variant: small-caps; margin-left: var(--left-column-width); margin-bottom: 0.25rem; }
  p { margin-bottom: 0.5rem; }
  a { text-decoration: none; color: /*#5D3FD3;*/ rgb(43,102,144); }
  section { margin-bottom: 1.5rem; }

  .author { white-space: nowrap; }
  /*.author.self { font-weight: bold; }*/
  .pub-acceptrate { color: #777; }
  .award { font-weight: bold; }

  /* dated entries */
  .dated-entry { display: flex; flex-flow: row wrap; position: relative; margin-bottom: 0.5rem; }
  .dated-date { width: var(--left-column-width); text-align: right; padding-right: 1.5rem; }
  .dated-content { width: calc(100% - var(--left-column-width)); }

  .oneline-entries { margin-bottom: 0.5rem; }
  .oneline-entries .dated-entry { margin-bottom: 0; }

  .references { display: flex; flex-flow: row wrap; margin-top: 1rem; }
  .reference  { margin-bottom: 1rem; margin-right: 2%; width: 31%; }

  /* hide extra awards info for now, not sure what to include */
  #awards em { display: none; }

  /* on narrow displays, make the font smaller */
  @media (max-width: 480px) {
    html { font-size: 14px; }
  }

  /* when printing, make the font smaller and the page full-width */
  @media print {
    html { font-size: 12px; }
    main { margin-top: 0; max-width: 100%; padding: 0; }
  }
  </style>
</head>
<body>
  <main>
    <header>
      <h1>Max Kreminski</h1>
      <p>Assistant Professor, Santa Clara University; Research Scientist, Midjourney</p>
      <p><em>Email</em> <a href="mailto:maxkreminski@gmail.com">maxkreminski@gmail.com</a> <em>Web</em> <a href="https://mkremins.github.io">mkremins.github.io</a></p>
    </header>
    <section id="education">
      <h2>Education</h2>
      <div class="dated-entry">
        <div class="dated-date">2017-2022</div>
        <div class="dated-content"><strong>University of California, Santa Cruz</strong><br>
        Ph.D. in Computational Media (2022)<br>
        M.S. in Computational Media (2020)
      </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2013-2017</div>
        <div class="dated-content"><strong>University of Southern California</strong><br>
        B.A. in Interactive Entertainment<br>
        Minor in Game User Research</div>
      </div>
    </section>
    <section id="employment">
      <h2>Employment</h2>
      <div class="dated-entry">
        <div class="dated-date">Since 2023</div>
        <div class="dated-content"><strong>Midjourney</strong><br>Research Scientist and Lab Director, Storytelling Tools</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">Since 2022</div>
        <div class="dated-content"><strong>Santa Clara University</strong><br>Assistant Professor, Computer Science and Engineering<br>Faculty Scholar, Markkula Center for Applied Ethics
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">Since 2020</div>
        <div class="dated-content"><strong>Independent consulting</strong><br>Clients include Zynga’s Applied AI group and Fable Studio</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2017-2022</div>
        <div class="dated-content"><strong>University of California, Santa Cruz</strong><br>Graduate Student Researcher, Expressive Intelligence Studio</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2016-2017</div>
        <div class="dated-content"><strong>University of Southern California</strong><br>Undergraduate Research Associate, Mobile & Environmental Media Lab (F2016-Su2017)<br>Undergraduate Research Associate, Game Innovation Lab (Su2016)</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2015-2017</div>
        <div class="dated-content"><strong>User Behavioristics</strong><br>Junior User Researcher</div>
      </div>
    </section>
    <section id="awards">
      <h2>Honors and Awards</h2>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">2023</div>
          <div class="dated-content">Invited Participant, Polaris Game Design Retreat</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2023</div>
          <div class="dated-content">Exceptional Service, FDG 2023</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Finalist for Best Student Paper [<a href="#C21">C21</a>], ICIDS 2022</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Best Artifact [<a href="#C20">C20</a>], AIIDE 2022</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content"><!--Technologist in Residence, AI/ML Tools for Creative Expression,-->Resident, Stochastic Labs</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Finalist 2× for Best Short Paper [<a href="#C17">C17</a>, <a href="#C18">C18</a>], ICIDS 2021</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Best Paper [<a href="#C13">C13</a>], FDG 2021</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Best Game or Demo [<a href="#PD3">PD3</a>], FDG 2021</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Second Place, Generative Design in Minecraft Competition</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Best Reviewer, ICIDS 2020<br><em>Awarded to top 14% of reviewers.</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Exceptional Paper [<a href="#C9">C9</a>], FDG 2020<br><em>Awarded to top 22% of papers.</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Best Paper Honorable Mention [<a href="#C4">C4</a>], FDG 2019<br><em>Awarded to top 17% of full papers.</em></div>
        </div>
        <!--
        <div class="dated-entry">
          <div class="dated-date">2016-2017</div>
          <div class="dated-content">Intel University Research Fellowship<br><em>Awarded to undergraduate students involved in research. Partially funds two semesters of tuition plus a summer research stipend ($8,000).</em></div>
        </div>
        -->
      </div>
    </section>
    <section id="publications">
      <h2>Publications</h2>
      <h3>Book Chapters</h3>
      {%- include cvpubs.html pubtype="chapter" pubprefix="B" -%}
      <h3>Journal Articles</h3>
      {%- include cvpubs.html pubtype="journal" pubprefix="J" -%}
      <h3>Conference Papers</h3>
      {%- include cvpubs.html pubtype="full" pubprefix="C" -%}
      <h3>Workshop Papers</h3>
      {%- include cvpubs.html pubtype="workshop" pubprefix="W" -%}
      <h3>Playable Experiences and Demos</h3>
      {%- include cvpubs.html pubtype="pe_or_demo" pubprefix="PD" -%}
      <h3>Doctoral Consortia</h3>
      {%- include cvpubs.html pubtype="doctoral_consortium" pubprefix="DC" -%}
      <h3>Theses and Dissertations</h3>
      {%- include cvpubs.html pubtype="thesis" pubprefix="TD" -%}
    </section>
    <section id="grants">
      <h2>Grants and Fellowships</h2>
      <div class="dated-entry">
        <div class="dated-date">2023</div>
        <div class="dated-content"><em>Investigating Homogenization of Imagination by Generative AI Models.</em> Markkula Center for Applied Ethics Hackworth Faculty Research Grant. $5,000. PI.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2022-2023</div>
        <div class="dated-content"><em>A Neurosymbolic Approach to Creativity Support for Narrative Writing.</em> SCU University Research Grant. $5,000. PI.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2022-2025</div>
        <div class="dated-content"><em><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2202521">Innovating Online Ethics Training Using a Dynamic Narrative Learning Environment.</a></em> NSF RETTL. $849,964. Proposal coauthor (with PI Edward Melcer, co-PI Michael Mateas, co-PI Noah Wardrip-Fruin). <span class="pub-acceptrate">Not listed as awardee due to student status at proposal submission time.</span></div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2022</div>
        <div class="dated-content"><em>Graduate Dean’s Research Travel Grant.</em> UCSC Division of Graduate Studies. $400.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content"><em>Investigating Instrumental Uses of Interactive Narrative Systems.</em> UCSC Computational Media Department. $8,973. PI.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2020-2024</div>
        <div class="dated-content"><em><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2007627">Social Virtual Reality Technology to Improve Networked Meetings.</a></em> NSF CHS. $373,142. Proposal coauthor and supported PhD student (with PI Katherine Isbister). <span class="pub-acceptrate">Not listed as awardee due to student status at proposal submission time.</span></div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content"><em>AIIDE 2019 Travel Grant.</em> AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE). $1,900.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2017-2018</div>
        <div class="dated-content"><em>University of California Chancellor’s Fellowship.</em> University of California. $24,000 stipend plus one year of full tuition remission.</div>
      </div>
    </section>
    <section id="talks">
      <h2>Invited Talks and Panels</h2>
      {%- assign years_seen = "" | split: "" -%}
      {% for talk in site.data.talks %}
      {%- assign fulltitle = talk.title -%}
      <div class="dated-entry">
        <div class="dated-date">{%- unless years_seen contains talk.year %}{{talk.year}}{%- endunless -%}</div>
        <div class="dated-content">
        {% if talk.type == "panel" %}Panelist, {% elsif talk.type == "guest_lecture" %}Guest lecturer, {% endif %}
        <em>{% if talk.url and talk.url != "" %}<a href="{{talk.url}}">{{fulltitle}}</a>{% else %}{{fulltitle}}{% endif %}</em><br>{% if talk.subvenue and talk.subvenue != "" %}{{talk.subvenue}}, {% endif %}{{talk.venue_long}}{% if talk.venue_short %} ({{talk.venue_short}}){% endif %}
        </div>
      </div>
      {%- assign years_seen = years_seen | push: talk.year -%}
      {% endfor %}
    </section>
    <section id="exhibitions">
      <h2>Art Exhibitions</h2>
      <div class="dated-entry">
        <div class="dated-date">2020</div>
        <div class="dated-content">
          <em>Why Are We Like This?</em> Melanie Dickinson, Max Kreminski, Michael Mateas, Noah Wardrip-Fruin. Digital game. “(un)continuity” (juried group exhibition). Electronic Literature Organization (ELO). Orlando, Florida. Jul. 16-19, 2020.
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2018</div>
        <div class="dated-content">
          <em>Epitaph.</em> Max Kreminski. Digital game. “QGCon 2018 Arcade” (juried group exhibition). Queerness and Games Conference (QGCon). Montreal, Quebec. Sep. 28-30, 2018.
        </div>
      </div>
      <!--
      <p><em>tiny manifesto.</em> Max Kreminski. Written manifesto. ”Manifesto Jam Selections” (invited group exhibition). Now Play This - A Festival of Experimental Game Design. London, England. Apr. 6-8, 2018.</p>
      <p><em>Epitaph.</em> Max Kreminski. Digital game. ”The Winteractive Festival” (juried group exhibition). University of Southern California. Los Angeles, California. Dec. 7, 2016.</p>
      -->
    </section>
    <section id="teaching">
      <h2>Teaching</h2>
      <h3>Santa Clara University</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Sp2023</div>
          <div class="dated-content">COEN 266 Artificial Intelligence<br><span class="award">Highest possible median student evaluation scores (5/5) in all categories.</span></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2023</div>
          <div class="dated-content"><a href="https://mkremins.github.io/syllabi/csts-2023-01">COEN 296 Creativity Support Tools</a></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2023</div>
          <div class="dated-content">COEN 174 Software Engineering</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">F2022</div>
          <div class="dated-content">COEN 174 Software Engineering</div>
        </div>
      </div>
      <h3>University of California, Santa Cruz (as Instructor)</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Su2021</div>
          <div class="dated-content">CMPM 148 Interactive Storytelling</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2021</div>
          <div class="dated-content">CMPM 171 Game Design Studio II<!-- <em>(co-instructor with Tad Leckman)</em>--></div>
        </div>
      </div>
      <h3>University of California, Santa Cruz (as Teaching Assistant)</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Sp2022</div>
          <div class="dated-content">CMPM 172 Game Design Studio III</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2022</div>
          <div class="dated-content">CMPM 171 Game Design Studio II</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">Sp2020</div>
          <div class="dated-content">CMPM 172 Game Design Studio III</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2020</div>
          <div class="dated-content">CMPM 171 Game Design Studio II</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">F2019</div>
          <div class="dated-content">CMPM 170 Game Design Studio I</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">Su2019</div>
          <div class="dated-content">CMPM 147 Generative Design</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2019</div>
          <div class="dated-content">CMPM 80K Foundations of Video Game Design</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">F2018</div>
          <div class="dated-content">CMPM 176 Game Systems</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">Su2018</div>
          <div class="dated-content">CMPM 80K Foundations of Video Game Design</div>
        </div>
      </div>
      <h3>Conference Tutorials</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">2023</div>
          <div class="dated-content">Introduction to WaveFunctionCollapse @ CoG 2023</div>
        </div>
      </div>
      <!--
      <h3>Guest Lectures</h3>
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content"><a href="https://www.youtube.com/watch?v=x9jmc3goXEI">“Story Sifting.”</a> Guest lecture, CS 660: Topics in Artificial Intelligence: Interactive Narrative (Prof. Stephen Ware), University of Kentucky, April 2021.
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">“Gardening as a Mode of Play.” Guest lecture, Porter 61: Seminar in Arts (Prof. Jordan Magnuson), UC Santa Cruz, March 2019.
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2018</div>
        <div class="dated-content">“Mining and Gardening with Generative Systems.” Guest lecture, CMPM 176: Game Systems (Prof. Nathan Altice), UC Santa Cruz, November 2018.
        </div>
      </div>
      -->
    </section>
    <section id="mentoring">
      <h2>Mentoring and Advising</h2>
      <h3>Master’s Students</h3>
      <div class="dated-entry">
        <div class="dated-date">2023</div>
        <div class="dated-content">Phoebe J. Wang. Neurosymbolic approaches to human-AI co-creativity in storytelling.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content">Jash Hemant Shah. Human-centered evaluation of large language models as support tools for creative ideation.</div>
      </div>
      <!--<div class="dated-entry">
        <div class="dated-date">2020-2021</div>
        <div class="dated-content">Kevin Wong. UCSC Games and Playable Media MS capstone project: <em>Dear Future</em>, a digital game about photography set in a fully procedurally generated world.</div>
      </div>-->
      <h3>Undergraduate Students</h3>
      <div class="dated-entry">
        <div class="dated-date">2022-2023</div>
        <div class="dated-content">James Dameris; Rosaura Hernandez Roman. Praxish, an open-source partial reconstruction of the lost interactive drama authoring framework Versu [<a href="#C25">C25</a>].</div>
      </div>
      <!--<div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content">Nolan Anderson. Year-long senior honors thesis project.</div>
      </div>-->
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content">Ari Iramanesh. AgentCraft, an entry for the Generative Design in Minecraft (GDMC) AI Settlement Generation Competition [<a href="#W8">W8</a>].<br><span class="award">Second place (top 10%) in the 2021 GDMC competition.</span></div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2020</div>
        <div class="dated-content">Camille Miller. Paper Hearts, an approachable digital game creation tool inspired by queer games and flatgames.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">Anthony Medina; Katie Moses. Data collection and coding for a qualitative study of human-AI co-creativity in emergent narrative games [<a href="#C5">C5</a>].</div>
      </div>
      <h3>High School Students (via the UCSC Science Internship Program)</h3>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">Megna Anand; Anish Kashyap; Daniel Man; Akhil Vemuri. Contributions to the AI-based research game <em>Diarytown</em> [<a href="#C6">C6</a>].</div>
      </div>
    </section>
    <section id="service">
      <h2>Service</h2>
      <h3>Conference Organization</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Since 2021</div>
          <div class="dated-content">Steering Committee Member, AIIDE Workshop on Experimental AI in Games (EXAG)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2024</div>
          <div class="dated-content">Keynotes Chair, International Conference on the Foundations of Digital Games (FDG)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2023</div>
          <div class="dated-content">Session Chair, Case Studies, AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Area Co-Chair, Tools and Systems, International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>
        <!--
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Co-Organizer, C&C Workshop on Casual Creators (CasCre) <em>[cancelled due to COVID]</em></div>
        </div>
        -->
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Co-Organizer, Queer in AI Social, AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</div>
        </div>
        <!--<div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Publicity Co-Chair, International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>-->
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Publicity Co-Chair, AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Co-Organizer, AIIDE Workshop on Experimental AI in Games (EXAG)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Co-Organizer, ICCC Workshop on Casual Creators (CasCre)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Demonstrations Chair, International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Co-Organizer, AIIDE Workshop on Experimental AI in Games (EXAG)</div>
        </div>
      </div>
      <h3>Reviewing and Program Committee Membership</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Journals</div>
          <div class="dated-content">
            Nature Human Behavior (NatHumBehav)<br>
            IEEE Transactions on Games (ToG)<br>
            Entertainment Computing (EntCom)
          </div>
        </div>
      </div>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Conferences</div>
          <div class="dated-content">
            ACM CHI Conference on Human Factors in Computing Systems (CHI)<br>
            AAAI Conference on Artificial Intelligence (AAAI)<br>
            ACM SIGCHI Annual Symposium on Computer-Human Interaction in Play (CHI PLAY)<br>
            AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)<br>
            International Conference on Interactive Digital Storytelling (ICIDS)<br>
            International Conference on the Foundations of Digital Games (FDG)<br>
            IEEE Conference on Games (CoG)<br>
            International Conference on Computational Creativity (ICCC)<br>
            International Conference on Artificial Intelligence in Music, Sound, Art and Design (EvoMUSART)<br>
            IEEE Symposium Series on Computational Intelligence (SSCI)
          </div>
        </div>
      </div>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Workshops</div>
          <div class="dated-content">
            FDG Workshop on Procedural Content Generation (PCG)<br>
            AIIDE Workshop on Experimental AI in Games (EXAG)<br>
            AIIDE Workshop on Programming Languages and Interactive Entertainment (PLIE)<br>
            Workshop on Casual Creators (CasCre)<br>
            FDG Workshop on Human-AI Interaction Through Play<br>
            ICSE Workshop on Games and Software Engineering (GAS)
          </div>
        </div>
      </div>
      <h3>Departmental Service</h3>
      <div class="dated-entry">
        <div class="dated-date">2019-2020</div>
        <div class="dated-content">Community Management Assistant, UCSC Computational Media Department</div>
      </div>
    </section>
    <section id="media">
      <h2>Selected Media Coverage</h2>
      {%- assign years_seen = "" | split: "" -%}
      {%- for article in site.data.press -%}
      {%- unless article.hidden -%}
      <div class="dated-entry">
        <div class="dated-date">{%- unless years_seen contains article.year -%}{{article.year}}{%- endunless -%}</div>
        <div class="dated-content"><a href="{{article.url}}">“{{article.title}}”</a><br>{{article.outlet}}, {{article.month}} {{article.year}}</div>
      </div>
      {%- assign years_seen = years_seen | push: article.year -%}
      {%- endunless -%}
      {%- endfor -%}
      <!-- WSJ Blabrecs coverage? -->
      <!-- Scholastic VR interview? -->
    </section>
  </main>
</body>
</html>
