---
title: Max Kreminski – CV
layout: null
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Max Kreminski – CV</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/font/Sans/cmun-sans.css">
  <style>
  /* reset base styles */
  * { box-sizing: border-box; margin: 0; padding: 0; }

  /* basic page structure */
  :root { --left-column-width: 4rem; --wide-left-column-width: 7rem; };
  html { font-size: 16px; }
  body { font-family: "Computer Modern Sans", sans-serif; line-height: 1.5; }
  main { margin: 2rem auto; max-width: 94ch; padding: 0 2ch; }

  /* page header */
  header { margin-bottom: 2rem; text-align: center; }
  header h1 { font-size: 1.5rem; }
  header p { margin-bottom: 0; }

  /* normal body content */
  h2, h3 { font-size: 1.1rem; }
  h2 { text-transform: uppercase; border-bottom: 1px solid #aaa; margin-bottom: 0.5rem; }
  h3 { margin-bottom: 0.25rem; }
  p { margin-bottom: 0.5rem; }
  a { color: inherit; /*#0000ee;*/ }
  section { margin-bottom: 2rem; }

  .author { white-space: nowrap; }
  .author.self { font-weight: bold; }
  .pub-acceptrate { color: #777; }
  .pub-award { color: forestgreen; font-weight: bold; }

  /* dated entries */
  .dated-entry { display: flex; flex-flow: row wrap; position: relative; margin-bottom: 0.5rem; }
  .dated-date { width: var(--left-column-width); text-align: left; padding-right: 2rem; }
  .dated-content { width: calc(100% - var(--left-column-width)); }
  .wide-left-column .dated-date { width: var(--wide-left-column-width); }
  .wide-left-column .dated-content { width: calc(100% - var(--wide-left-column-width)); }
  #publications .dated-date { width: 3.5rem; }
  #publications .dated-content { width: calc(100% - 3.5rem); }

  .oneline-entries { margin-bottom: 0.5rem; }
  .oneline-entries .dated-entry { margin-bottom: 0; }

  .references { display: flex; flex-flow: row wrap; margin-top: 1rem; }
  .reference  { margin-bottom: 1rem; margin-right: 2%; width: 31%; }

  /* hide extra awards info for now, not sure what to include */
  #awards em { display: none; }

  /* on narrow displays, make the font smaller */
  @media (max-width: 480px) {
    html { font-size: 14px; }
  }

  /* when printing, make the font smaller and the page full-width */
  @media print {
    html { font-size: 12px; }
    main { margin-top: 0; max-width: 100%; }
  }
  </style>
</head>
<body>
  <main>
    <header>
      <h1>Max Kreminski</h1>
      <p>mkreminski@scu.edu</p>
      <p><a href="https://mkremins.github.io">mkremins.github.io</a></p>
    </header>
    <section id="education" class="wide-left-column">
      <h2>Education</h2>
      <div class="dated-entry">
        <div class="dated-date">Since 2017</div>
        <div class="dated-content"><strong>Ph.D. in Computational Media</strong> (expected Summer 2022)<br>
        University of California, Santa Cruz<br>
        Advisors: Noah Wardrip-Fruin, Michael Mateas</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2020</div>
        <div class="dated-content"><strong>M.S. in Computational Media</strong><br>
        University of California, Santa Cruz<br>
        Thesis: <a href="https://escholarship.org/uc/item/47n0221v">Designing to Support Authorship Play in Emergent Narrative Games</a></div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2013-2017</div>
        <div class="dated-content"><strong>B.A. in Interactive Entertainment</strong><br>
        University of Southern California<br>
        Minor in Game User Research</div>
      </div>
    </section>
    <section id="professorial-positions" class="wide-left-column">
      <h2>Professorial Positions</h2>
      <div class="dated-entry">
        <div class="dated-date">In Fall 2022</div>
        <div class="dated-content"><strong>Santa Clara University</strong><br>Assistant Professor of Computer Science and Engineering
        </div>
      </div>
    </section>
    <section id="awards">
      <h2>Honors, Awards, Grants and Fellowships</h2>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content"><!--Technologist in Residence, AI/ML Tools for Creative Expression,-->Resident, Stochastic Labs</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Graduate Dean’s Research Travel Grant, UCSC Division of Graduate Studies</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Best Short Paper Honorable Mentions [<a href="#C17">C17</a>, <a href="#C18">C18</a>], International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Best Paper, Game Criticism and Analysis Track [<a href="#C13">C13</a>], Foundations of Digital Games (FDG)<br><em>For paper [C13].</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Best Game or Demo [<a href="#PD3">PD3</a>], Foundations of Digital Games (FDG)<br><em>For paper [PD3].</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Second Place, Generative Design in Minecraft (GDMC) AI Settlement Generation Competition<br></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Summer Research Grant, UCSC Computational Media Department<br><em>Funds one quarter of stipend ($9,000). Competitively awarded on the basis of a written research proposal.</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Best Reviewer, International Conference on Interactive Digital Storytelling (ICIDS)<br><em>Awarded to top 14% of reviewers.</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Exceptional Paper [<a href="#C9">C9</a>], Foundations of Digital Games (FDG)<br><em>For paper [C9]. Awarded to top 22% of papers.</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Travel Grant, AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)<br><em>Fully funds travel to AIIDE ($1,200).</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Best Paper Honorable Mention [<a href="#C4">C4</a>], Foundations of Digital Games (FDG)<br><em>For paper [C4]. Awarded to top 17% of full papers.</em></div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2017<!---2018--></div>
          <div class="dated-content">University of California Chancellor’s Fellowship<br><em>Competitively awarded to first-year UC grad students. Funds one year of stipend ($24,000) plus tuition and fees.</em></div>
        </div>
        <!--
        <div class="dated-entry">
          <div class="dated-date">2016-2017</div>
          <div class="dated-content">Intel University Research Fellowship<br><em>Awarded to undergraduate students involved in research. Partially funds two semesters of tuition plus a summer research stipend ($8,000).</em></div>
        </div>
        -->
      </div>
    </section>
    <section id="publications">
      <h2>Publications</h2>
      <h3>Book Chapters</h3>
      {%- include cvpubs.html pubtype="chapter" pubprefix="B" -%}
      <h3>Journal Articles</h3>
      {%- include cvpubs.html pubtype="journal" pubprefix="J" -%}
      <h3>Conference Papers</h3>
      {%- include cvpubs.html pubtype="full" pubprefix="C" -%}
      <h3>Workshop Papers</h3>
      {%- include cvpubs.html pubtype="workshop" pubprefix="W" -%}
      <h3>Playable Experiences and Demos</h3>
      {%- include cvpubs.html pubtype="pe_or_demo" pubprefix="PD" -%}
      <h3>Doctoral Consortia</h3>
      {%- include cvpubs.html pubtype="doctoral_consortium" pubprefix="DC" -%}
    </section>
    <section id="talks">
      <h2>Invited Talks and Panels</h2>
      {%- assign years_seen = "" | split: "" -%}
      {% for talk in site.data.talks %}
      {%- assign fulltitle = talk.title | append: "." | replace: "!.", "!" -%}
      <div class="dated-entry">
        <div class="dated-date">{%- unless years_seen contains talk.year %}{{talk.year}}{%- endunless -%}</div>
        <div class="dated-content">
        {% if talk.type == "panel" %}Panelist, {% endif %}
        {% if talk.url and talk.url != "" %}<a href="{{talk.url}}">“{{fulltitle}}”</a>{% else %}“{{fulltitle}}”{% endif %} {% if talk.subvenue and talk.subvenue != "" %}{{talk.subvenue}}, {% endif %}{{talk.venue_long}}{% if talk.venue_short %} ({{talk.venue_short}}){% endif %}, {{talk.year}}.
        </div>
      </div>
      {%- assign years_seen = years_seen | push: talk.year -%}
      {% endfor %}
    </section>
    <section id="exhibitions">
      <h2>Art Exhibitions</h2>
      <div class="dated-entry">
        <div class="dated-date">2020</div>
        <div class="dated-content">
          <em>Why Are We Like This?</em> Melanie Dickinson, Max Kreminski, Michael Mateas, Noah Wardrip-Fruin. Digital game. “(un)continuity” (juried group exhibition). Electronic Literature Organization (ELO). Orlando, Florida. Jul. 16-19, 2020.
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2018</div>
        <div class="dated-content">
          <em>Epitaph.</em> Max Kreminski. Digital game. “QGCon 2018 Arcade” (juried group exhibition). Queerness and Games Conference (QGCon). Montreal, Quebec. Sep. 28-30, 2018.
        </div>
      </div>
      <!--
      <p><em>tiny manifesto.</em> Max Kreminski. Written manifesto. ”Manifesto Jam Selections” (invited group exhibition). Now Play This - A Festival of Experimental Game Design. London, England. Apr. 6-8, 2018.</p>
      <p><em>Epitaph.</em> Max Kreminski. Digital game. ”The Winteractive Festival” (juried group exhibition). University of Southern California. Los Angeles, California. Dec. 7, 2016.</p>
      -->
    </section>
    <section id="teaching">
      <h2>Teaching</h2>
      <h3>Santa Clara University</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">F2022</div>
          <div class="dated-content">COEN 174 Software Engineering</div>
        </div>
      </div>
      <h3>University of California, Santa Cruz (as Instructor)</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Su2021</div>
          <div class="dated-content">CMPM 148 Interactive Storytelling</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2021</div>
          <div class="dated-content">CMPM 171 Game Design Studio II<!-- <em>(co-instructor with Tad Leckman)</em>--></div>
        </div>
      </div>
      <h3>University of California, Santa Cruz (as Teaching Assistant)</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Sp2022</div>
          <div class="dated-content">CMPM 172 Game Design Studio III</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2022</div>
          <div class="dated-content">CMPM 172 Game Design Studio II</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">Sp2020</div>
          <div class="dated-content">CMPM 172 Game Design Studio III</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2020</div>
          <div class="dated-content">CMPM 171 Game Design Studio II</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">F2019</div>
          <div class="dated-content">CMPM 170 Game Design Studio I</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">Su2019</div>
          <div class="dated-content">CMPM 147 Generative Design</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">W2019</div>
          <div class="dated-content">CMPM 80K Foundations of Video Game Design</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">F2018</div>
          <div class="dated-content">CMPM 176 Game Systems</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">Su2018</div>
          <div class="dated-content">CMPM 80K Foundations of Video Game Design</div>
        </div>
      </div>
      <!--
      <h3>Guest Lectures</h3>
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content"><a href="https://www.youtube.com/watch?v=x9jmc3goXEI">“Story Sifting.”</a> Guest lecture, CS 660: Topics in Artificial Intelligence: Interactive Narrative (Prof. Stephen Ware), University of Kentucky, April 2021.
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">“Gardening as a Mode of Play.” Guest lecture, Porter 61: Seminar in Arts (Prof. Jordan Magnuson), UC Santa Cruz, March 2019.
        </div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2018</div>
        <div class="dated-content">“Mining and Gardening with Generative Systems.” Guest lecture, CMPM 176: Game Systems (Prof. Nathan Altice), UC Santa Cruz, November 2018.
        </div>
      </div>
      -->
    </section>
    <section id="mentoring">
      <h2>Mentoring and Advising</h2>
      <!--<h3>Master’s Students</h3>
      <div class="dated-entry">
        <div class="dated-date">2020-2021</div>
        <div class="dated-content">Kevin Wong. Games and Playable Media MS capstone project: <em>Dear Future</em>, a digital game about photography set in a fully procedurally generated world.</div>
      </div>-->
      <h3>Undergraduate Students</h3>
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content">Ari Iramanesh. Student-led independent study project: AgentCraft, an entry for the Generative Design in Minecraft (GDMC) AI Settlement Generation Competition. Resulted in a student-authored publication [<a href="#W8">W8</a>].<br><span class="pub-award">Second place (top 10%) in the 2021 GDMC competition.</span></div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2020</div>
        <div class="dated-content">Camellia Shea. Student-led independent study project: Paper Hearts, an approachable digital game creation tool inspired by queer games and flatgames.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">Anthony Medina; Katie Moses. Students assisted with data collection and coding for my AIIDE 2019 paper, “Evaluating AI-Based Games Through Retellings” [<a href="#C5">C5</a>].</div>
      </div>
      <h3>High School Students (via the UCSC Science Internship Program)</h3>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">Megna Anand; Anish Kashyap; Daniel Man; Akhil Vemuri. Students contributed to the development of <em>Diarytown</em>, an AI-based game described as a case study in my ICIDS 2019 paper, “Felt: A Simple Story Sifter” [<a href="#C6">C6</a>].</div>
      </div>
    </section>
    <section id="employment" class="wide-left-column">
      <h2>Other Positions</h2>
      <div class="dated-entry">
        <div class="dated-date">Since 2020</div>
        <div class="dated-content">Independent consulting. Clients include Zynga’s Applied AI team and Fable Studio.</div>
      </div>
      <!--
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content">Research Mentor, UCSC Science Internship Program. Mentored high school students working on computational media research projects.</div>
      </div>
      -->
      <div class="dated-entry">
        <div class="dated-date">2016-2017</div>
        <div class="dated-content">Undergraduate Research Associate, USC Mobile & Environmental Media Lab. Design, rapid prototyping, and development of VR and AR experiences with Unity, C#, and SteamVR.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date">2015-2017</div>
        <div class="dated-content">Junior User Researcher, User Behavioristics. User research consulting; qualitative and quantitative analysis of user behavior in mobile and VR games and apps.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"><!--Summer-->2016</div>
        <div class="dated-content">Undergraduate Research Associate, USC Game Innovation Lab. Python scripting and data analysis to provide insights on player behavior in <em>Mission: Admission</em>, an educational game about college admissions for high school students.</div>
      </div>
    </section>
    <section id="service" class="wide-left-column">
      <h2>Service</h2>
      <h3>Conference Organization</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Since 2021</div>
          <div class="dated-content">Steering Committee Member, AIIDE Workshop on Experimental AI in Games (EXAG)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Area Co-Chair, Tools and Systems, International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>
        <!--
        <div class="dated-entry">
          <div class="dated-date">2022</div>
          <div class="dated-content">Co-Organizer, C&C Workshop on Casual Creators (CasCre) <em>[cancelled due to COVID]</em></div>
        </div>
        -->
        <div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Co-Organizer, Queer in AI Social, AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</div>
        </div>
        <!--<div class="dated-entry">
          <div class="dated-date">2021</div>
          <div class="dated-content">Publicity Co-Chair, International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>-->
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Publicity Co-Chair, AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Co-Organizer, AIIDE Workshop on Experimental AI in Games (EXAG)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2020</div>
          <div class="dated-content">Co-Organizer, ICCC Workshop on Casual Creators (CasCre)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Demonstrations Chair, International Conference on Interactive Digital Storytelling (ICIDS)</div>
        </div>
        <div class="dated-entry">
          <div class="dated-date">2019</div>
          <div class="dated-content">Co-Organizer, AIIDE Workshop on Experimental AI in Games (EXAG)</div>
        </div>
      </div>
      <h3>Reviewing and Program Committee Membership</h3>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Journals</div>
          <div class="dated-content">
            IEEE Transactions on Games (ToG)<br>
            Entertainment Computing (EntCom)
          </div>
        </div>
      </div>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Conferences</div>
          <div class="dated-content">
            AAAI Conference on Artificial Intelligence (AAAI)<br>
            ACM SIGCHI Annual Symposium on Computer-Human Interaction in Play (CHI PLAY)<br>
            AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)<br>
            International Conference on Interactive Digital Storytelling (ICIDS)<br>
            International Conference on the Foundations of Digital Games (FDG)<br>
            IEEE Conference on Games (CoG)<br>
            International Conference on Artificial Intelligence in Music, Sound, Art and Design (EvoMUSART)<br>
            IEEE Symposium Series on Computational Intelligence (SSCI)
          </div>
        </div>
      </div>
      <div class="oneline-entries">
        <div class="dated-entry">
          <div class="dated-date">Workshops</div>
          <div class="dated-content">
            FDG Workshop on Procedural Content Generation (PCG)<br>
            AIIDE Workshop on Experimental AI in Games (EXAG)<br>
            AIIDE Workshop on Programming Languages and Interactive Entertainment (PLIE)<br>
            Workshop on Casual Creators (CasCre)<br>
            ICSE Workshop on Games and Software Engineering (GAS)
          </div>
        </div>
      </div>
      <h3>Departmental Service</h3>
      <div class="dated-entry">
        <div class="dated-date">2019-2020</div>
        <div class="dated-content">Community Management Assistant, UCSC Computational Media Department. Co-organized events and programs to build graduate student community.</div>
      </div>
    </section>
    <section id="media">
      <h2>Selected Media Coverage</h2>
      <div class="dated-entry">
        <div class="dated-date">2022</div>
        <div class="dated-content"><a href="https://www.bloomberg.com/news/articles/2022-06-14/google-has-more-pressing-ai-problems-than-sentient-bots">“Google Debate Over ‘Sentient’ Bots Overshadows Deeper AI Issues.”</a> Bloomberg, June 2022.</div>
      </div>
      <!-- Scholastic VR interview? -->
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content"><a href="https://www.polygon.com/22858564/placement-games-unpacking-dorfromantik-xbox-game-pass-pc-series-x">“Placement games were 2021’s most calming trend.”</a> Polygon, December 2021.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://www.theverge.com/2021/11/30/22807568/procedural-storytelling-video-games-dwarf-fortress-wildermyth-blaseball">“Procedural storytelling is exploding the possibilities of video game narratives.”</a> The Verge, November 2021.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://slate.com/podcasts/spectacular-vernacular/2021/08/are-you-spectacular-vernaculars-next-spelling-bee-champion">“How the Grid Kid Became King of the Online Spelling Bee.”</a> Spectacular Vernacular (Slate podcast), August 2021.</div>
      </div>
      <!--
      <div class="dated-entry">
        <div class="dated-date">2021</div>
        <div class="dated-content"><a href="https://www.thegamer.com/interview-the-fermi-paradox/">“Interview: The Fermi Paradox - A Harsh Look At Our Troubled Galaxy.”</a> TheGamer, June 2021.</div>
      </div>
      -->
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://www.newscientist.com/article/mg24933162-600-why-you-should-trust-reindeer-to-pick-stocks-over-politicians/">“Why you should trust reindeer to pick stocks over politicians”</a> (<em>Feedback</em> column). New Scientist, January 2021.</div>
      </div>
      <!--
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://elluba.medium.com/creative-ai-newsletter-10-art-design-and-music-updates-from-2020-6be7a2e26c49">“Creative AI newsletter #10 — Art, Design and Music updates from 2020.”</a> Creative AI Newsletter, January 2021.</div>
      </div>
      -->
      <div class="dated-entry">
        <div class="dated-date">2020</div>
        <div class="dated-content"><a href="https://thenextweb.com/neural/2020/12/14/new-ai-scrabble-mod-only-allows-words-that-dont-exist/">“New AI Scrabble mod only allows words that don’t exist.”</a> The Next Web, December 2020.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://www.dicebreaker.com/games/scrabble/news/scrabble-variant-nonsense-words-blabrecs-ai">“Scrabble variant Blabrecs lets you play made-up words - but only if you fool an AI into thinking they’re real.”</a> Dicebreaker, December 2020.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://becauselanguage.com/17-words-of-the-week-of-the-year-2020/">“17: Words of the Week of the Year 2020.”</a> Because Language, December 2020.</div><!-- 38:05 -->
      </div>
      <div class="dated-entry">
        <div class="dated-date">2019</div>
        <div class="dated-content"><a href="https://emshort.blog/2019/11/29/storylets-you-want-them/">“Storylets: You Want Them.”</a> Emily Short’s Interactive Storytelling, November 2019.</div>
      </div>
      <div class="dated-entry">
        <div class="dated-date"></div>
        <div class="dated-content"><a href="https://emshort.blog/2019/01/06/kreminski-on-storylets/">“Survey of Storylets-based Design.”</a> Emily Short’s Interactive Storytelling, January 2019.</div>
      </div>
      <!--
      <div class="dated-entry">
        <div class="dated-date">2018</div>
        <div class="dated-content"><a href="https://www.chronicle.com/article/have-academics-finally-found-the-perfect-meme/">“Have Academics Finally Found the Perfect Meme?”</a> Chronicle of Higher Education, April 2018.</div>
      </div>
      -->
      <div class="dated-entry">
        <div class="dated-date">2017</div>
        <div class="dated-content"><a href="https://www.rockpapershotgun.com/2017/01/18/apocalypse-fiction/">“IF Only: Apocalypse Eve.”</a> Rock Paper Shotgun, January 2017.
      </div>
    </section>
  </main>
</body>
</html>
