@import "../config/layouts";

@mixin layout($layout) {
	$query: false;

	@each $pair in $layout {
		$feature: nth($pair, 1);
		$value: nth($pair, 2);
		$text: "(#{$feature}: #{$value})";

		@if $query == false {
			$query: $text;
		} @else {
			$query: "#{$query} and #{$text}";
		}
	}

	@media only screen and #{$query} {
		@content;
	}
}
