.content {
	background-color: #fff;

	@include layout($medium) {
		float: right;
		//height: inherit;
		padding: 50px $width-medium-padding;
		//overflow: auto;
		width: $width-medium-content;
	}

	@include layout($tablet) {
		padding: 10px 40px;
	}

	@include layout($handheld) {
		padding: 20px;
		h1 {
			margin-top: 0;
		}
	}

	h1 {
		@include hover($color-text-content, $color-text-hover);
		font: {
			family: $body-font;
			size: 1.8em;
			weight: bold;
		}
	}

	h2 {
		color: $color-text-content;
		font: {
			family: $body-font;
			size: 1.75em;
		} 
	}

	h3 {
		color: $color-text-content;
		font: {
			family: $body-font;
			size: 1.5em;
		} 
	}

	a {
		@include hover($color-text-link, $color-text-hover);
		font-family: $body-font;
	}

	p {
		color: $color-text-content;
		font: {
			family: $body-font;
			size: 1.1em;
		}
	}

	blockquote {
		border-left: 4px solid #ddd;
		color: $color-text-content;
		font: {
			family: $body-font;
			style: italic;
		}
		padding-left: 4px;
	}

	code {
		background-color: $color-bg-block;
		border-radius: 2px;
		color: $color-text-content;
		font: {
			family: $fixed-font;
			size: 0.75em;
		}
		padding: 2px;
	}

	pre {
		@extend code;
	}
}
