.content {
	background-color: #fff;
	height: 100%;
	overflow: scroll;

	@include layout($medium) {
		float: right;
		padding: 50px $width-medium-padding;
		width: $width-medium-content;
	}

	@include layout($tablet) {
		padding: 10px 40px;
	}

	@include layout($handheld) {
		padding: 20px;
		h1 {
			margin-top: 0;
		}
	}

	h1 {
		@include hover($color-text-content, $color-text-hover);
		font: {
			family: $body-font;
			size: 28px;
			weight: bold;
		}
	}

	h2 {
		color: $color-text-content;
		font: {
			family: $body-font;
			size: 24px;
		} 
	}

	h3 {
		color: $color-text-content;
		font: {
			family: $body-font;
			size: 21px;
		} 
	}

	a {
		@include hover($color-text-link, $color-text-hover);
		font-family: $body-font;
	}

	p {
		color: $color-text-content;
		font: {
			family: $body-font;
			size: 18px;
		}
	}

	blockquote {
		border-left: 4px solid #ddd;
		color: $color-text-content;
		font: {
			family: $body-font;
			style: italic;
		}
		padding-left: 4px;
	}

	code {
		background-color: $color-bg-block;
		border-radius: 2px;
		color: $color-text-content;
		font: {
			family: $fixed-font;
			size: 14px;
		}
		padding: 2px;
	}

	pre {
		@extend code;
	}
}
