.sidebar {
	background-color: #eee;

	@include layout($medium) {
		padding: 50px $width-medium-padding;
		position: fixed;
		text-align: right;
		width: $width-medium-sidebar;
	}

	@include layout($tablet) {
		padding: 20px 40px;
		.nav-item {
			display: inline;
			margin-right: 10px;
		}
	}

	@include layout($handheld) {
		padding: 0 20px;
		h1 {
			margin-bottom: 0;
		}
		.nav {
			margin-top: 10px;
		}
		.nav-item {
			display: inline;
			margin-right: 5px;
		}
	}

	h1 {
		@include hover($color-text-sidebar, $color-text-hover);
		font: {
			family: $body-font;
			size: 28px;
			weight: bold;
		}
	}

	a {
		@include hover($color-text-link, $color-text-hover);
	}

	.nav-item {
		border-bottom: 1px dotted #ddd;
		font: {
			family: $body-font;
			size: 16px;
		}
		padding: {
			bottom: 2px;
			top: 2px;
		}
	}
}
