.sidebar {
	h1 {
		@include hoverable(#666, $link-hover-color);
		font: {
			family: $header-font;
			size: 1.75em;
			weight: bold;
		}
	}

	a {
		@include hoverable($link-color, $link-hover-color);
	}

	.nav {
		list-style: none;
	}

	.nav-item {
		border-bottom: 1px dotted #ddd;
		font: {
			family: $body-font;
			size: 1.05em;
		}
		padding: {
			bottom: 2px;
			top: 2px;
		}
	}
}
