.sidebar {
	@include layout($medium) {
		padding-top: 50px;
		position: fixed;
		text-align: right;
		width: 15%;
	}

	h1 {
		@include hover($color-text-sidebar, $color-text-hover);
		font: {
			family: $body-font;
			size: 1.8em;
			weight: bold;
		}
	}

	a {
		@include hover($color-text-link, $color-text-hover);
	}

	.nav {
		list-style: none;
	}

	.nav-item {
		border-bottom: 1px dotted #ddd;
		font: {
			family: $body-font;
			size: 1.05em;
		}
		padding: {
			bottom: 2px;
			top: 2px;
		}
	}
}
