body, html {
	height: 100%;
}

body {
	margin: 0 auto;
	overflow: hidden;
	width: 60%;
}

$vertical-padding: 50px;

.content {
	float: right;
	height: inherit;
	padding: {
		bottom: $vertical-padding;
		left: 5%;
		right: 5%;
		top: $vertical-padding;
	}
	overflow: auto;
	width: 60%;
}

.sidebar {
	padding-top: $vertical-padding;
	position: fixed;
	text-align: right;
	width: 15%;
}
