@mixin layout($layout) {
	$query: "";
	$count: length($layout);

	@for $n from 1 through $count {
		$pair:    nth($layout, $n);
		$feature: nth($pair, 1);
		$value:   nth($pair, 2);

		$query: $query + "(#{$feature}: #{$value})";
		@if ($n != $count) {
			$query: $query + " and ";
		}
	}

	@media only screen and #{$query} {
		@content;
	}
}
