@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Ovo);

$body-font:     18px/1.3 Ovo, serif;
$fixed-font:    12px/1.5 Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
$header-font:   16px/1.5 "Merriweather Sans", sans-serif;
