@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Ovo);

$body-font:     Ovo, Georgia, serif;
$fixed-font:    Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
$header-font:   "Merriweather Sans", Helvetica, sans-serif;
