<!doctype html>
<html>

  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <title>{{ page.title | prepend:'mkremins // ' }}</title>
    <meta name="google-site-verification" content="pilQIpRY1joFtI2AJweChCeYZsq6Fib5d4GTl0TwJjM">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

  	<header class="side">
  		<a href="/"><h1>/usr/share</h1></a>
      <p>code, design, words, etc by Max Kreminski aka mkremins</p>
      <ul>
        <li><a href="/">about</a></li>
        <li><a href="/blog.html">blog</a></li>
        <li><a href="/projects.html">projects</a></li>
        <li><a href="/thanks.html">thanks</a></li>
        <li><a href="http://github.com/mkremins">github</a></li>
        <li><a href="http://twitter.com/maxkreminski">twitter</a></li>
      </ul>
  	</header>

  	<section class="main">
  		<a href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
  		{{ content }}
  	</section>

    <script src="js/scale.fix.js"></script>

  </body>

</html>
